
# Created by https://www.gitignore.io/api/ansible
# Edit at https://www.gitignore.io/?templates=ansible

### Ansible ###
*.retry

# End of https://www.gitignore.io/api/ansible


# Created by https://www.gitignore.io/api/direnv
# Edit at https://www.gitignore.io/?templates=direnv

### direnv ###
.direnv
.envrc

# End of https://www.gitignore.io/api/direnv


# Created by https://www.gitignore.io/api/testinfra
# Edit at https://www.gitignore.io/?templates=testinfra

### Testinfra ###
__pycache__/
.pytest_cache/

# End of https://www.gitignore.io/api/testinfra

