---
dist: focal
matrix:
  fast_finish: true
  include:
    - os: linux
      env:
        - ANSIBLE='ansible>=2.8'
        - MOLECULE_SCENARIO="default"
      language: python
      python: "3.8"

install:
  - sudo apt update
  - sudo /snap/bin/lxd waitready
  - sudo /snap/bin/lxd init --auto
  - sudo chgrp travis /var/snap/lxd/common/lxd/unix.socket
  - pip3 install -U pip
  - pip3 install "$ANSIBLE" testinfra molecule molecule-lxd flake8 ansible-lint yamllint
script:
  - python --version
  - molecule --version
  - ansible --version
  - openssl aes-256-cbc -K $encrypted_48d092bfe7cc_key -iv $encrypted_48d092bfe7cc_iv -in .ci/vaultkey.enc -out $HOME/vaultkey -d
  - ANSIBLE_VAULT_PASSWORD_FILE=$HOME/vaultkey molecule test -s $MOLECULE_SCENARIO

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
